<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checkout Form</title>
  </head>
  <body>
    <!--if you want to get something from server you put get-->
 <!--if you want to send data to the server you put POST-->
 <form class="" action="{{url_for('thankyou')}}" method="POST" >
<!-- name is for python to pull off user's input: give me the value of input what the
name is email_name-->
 <fieldset>
 <legend>Checkout Form</legend>
<p>Please fill in the following information:</p>
<input type="firstName" name="first_name" required value="" title="Your Info will
be safe with us" placeholder="Enter your first name" style="width:200px">
<input type="lastName" name="last_name" required value="" title="Your Info will
be safe with us" placeholder="Enter your last name" style="width:200px">
<input type="emailAddress" name="email_address" required value="" title="Your Info will
be safe with us" placeholder="Enter your email address" style="width:250px">
<input type="totalPrice" name="total_price" required value="" title="Your Info will
be safe with us" placeholder="Total Price" style="width:100px">
 <!--define the role of the button-->
 <button type="submit" name="button"><a href="form.html">Submit</a></button>
 </fieldset>
 </form>
  </body>
</html>
