*{box-sizing: border-box;}

/*HORIZONTAL SCROLLBAR DEBUGGER */

/*
outline: 1px solid #f00 !important;

.slide-content .scroller {
  width: 1024px;
}

*/

header, body{
  font-family: 'Sulphur Point';
  font-size: 20px;
  scroll-behavior: auto;
}

/* HEADER SECTION */

.header_container{
  width: 100%;
  height: 60px;
  background-color: white;
  padding-top: 15px;
}

.header_row {
  width: 100%;
}

.header_part{
  float: left;
  width: 100%;
  height: 50px;
  /*color: #56361B;*/
}

/* ROW COLUMN PERCENTAGES */
.header_part:first-child {
  width: 30%;
  float: left;
}

.header_part:nth-child(2){
  width: 40%;
}

.header_part:last-child{
  width: 30%;
}
/*---------------------------*/


.header_part .header_left:first-child img{
  margin-left: 20px;
}

.header_part:first-child ul{
  overflow: auto;
  padding-left: 0;
}

.header_part:first-child ul li:nth-child(2){
  margin-right: 5%;
}

.header_left ul li {
  float: left;
  list-style: none;
}

.header_left ul li img {
  width: 30%;
}

.header_mid ul li{
  overflow: auto;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-top: -5px;
}

/* RIGHT HEADER */
.header_right{
  float: right;
  width: 100%;
  overflow-x: hidden;
}

.header_right ul {
  margin-right: 20%;
}

.header_right ul li{
  float: left;
  list-style: none;
}

.header_right ul li img {
  width: 55%;
}

.header_part .header_right ul li:first-child{
  position: absolute;
  right: 250px;
}

.header_part .header_right ul li:nth-child(2){
  position: absolute;
  right: 100px;
}

.header_part .header_right ul li:last-child{
  position: absolute;
  right: 0px;
}


/* HOME TEXT + IMAGE */
.home_container{
  background-color: white;
}

.col-lg-5, .col-lg-4, .col-lg-3{
  padding: 5px;
  padding-top: 0px;
}

.container01_left{
  height: 450px;
  background-color: #F2CEAF;
}

.container01_left_text0{
  height: 450px;
  width: 95%;
}

.container01_left_text0 .col-lg-12:first-child{
  font-size: 100px;
  font-weight: bold;
  margin-left: 20px;
  height: fit-content;
  margin-top: 60px;
  width: 300px;
}


.container01_left_text0 .col-lg-12:nth-child(2){
  font-size: 30px;
  margin-left: 20px;
  position: absolute;
  top: 230px;
  width: 400px;
}

.container01_mid{
  height: 450px;
}

.container01_mid_top{
  height: 200px;
}

.container01_mid_top0{
  height: 200px;
  width: 50%;
  float: left;
  position: relative;
}


/* Buy Now + shopNow Button */
/* box1 - women*/

.container01_mid_top0:first-child img:hover{
  filter: brightness(0.5);
  transition-duration: 0.2s;
}

/*
.container01_mid_bottom a:hover + img{
  filter: brightness(0.5);
  transition-duration: 0.2s;
}
*/

.container01_mid_top0:first-child a:hover + img{
  filter: brightness(0.5);
  transition-duration: 0.2s;
}

.container01_mid_top0:last-child a:hover + img{
  filter: brightness(0.5);
  transition-duration: 0.2s;
}

.container01_mid_top0:first-child:hover .buyNowTitle{
  position: absolute;
  z-index: 10;
  opacity: 100;
}

/* box2 - men*/
.container01_mid_top0:last-child img:hover{
  filter: brightness(0.5);
  transition-duration: 0.2s;
}

.container01_mid_top0:last-child:hover .buyNowTitle{
  position: absolute;
  z-index: 10;
  opacity: 100;
}

/* box 3 - kids */
.container01_mid_bottom img:hover{
  filter: brightness(0.5);
  transition-duration: 0.2s;
}

.container01_mid_bottom:hover .buyNowTitle1{
  position: absolute;
  z-index: 10;
  opacity: 100;
}

.buyNowTitle{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #FFC046;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  text-decoration: none;
  color: black;
  z-index: 2;
}


.container01_mid_bottom{
  position: relative;
}

.buyNowTitle1{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #FFC046;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  text-decoration: none;
  color: black;
  z-index: 2;
  top: 40%;
}

.buyNowTitle:hover, .buyNowTitle1:hover{
  color: black;
}

.container01_mid_bottom a:hover + img{
  filter: brightness(0.5);
  transition-duration: 0.2s;
}


/* END of hoverEffect */

.container01_mid_top0 img{
  width: 100%;
  height: 100%;
}

.container01_mid_top0:last-child img{
  padding-left: 5px;
}

.container01_mid_bottom img{
  width: 100%;
  height: 250px;
  padding-top: 5px;
}

.container01_right{
  background-color: black;
}

.slideAuto{
  width: 100%;
  height: 450px;
  display: none;
  animation: fadeAnimation 0.1s;
  animation-duration: 3s;
}

.container01_right img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1290px){
  .home_container{

  }
  /* DEBUGGER CODE ENDS HERE */

  .header_part .header_right ul li:last-child{
    position: absolute;
    right: 0;
  }
}

@media only screen and (max-width: 1190px){
  .home_container{

  }
  /* DEBUGGER CODE ENDS HERE */

  .header_part .header_left ul li:last-child{
    display: none;
  }

  .header_part .header_right ul li:first-child{
    position: absolute;
    right: 95px;
  }

  .header_part .header_right ul li:nth-child(2){
    display: none;
  }

  .header_part:last-child ul:last-child img{
    margin-left: 30px;
    height: 40px;
  }

  .container01_left_text0 .col-lg-12:first-child{
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    height: fit-content;
    margin-top: 60px;

  }

  .container01_left_text0 .col-lg-12:nth-child(2){
    font-size: 25px;
    margin-left: 20px;
    position: absolute;
    top: 188px;
    width: 400px;
  }

}

@media only screen and (max-width: 750px){
  .home_container{
  }
  /* DEBUGGER CODE ENDS HERE */

  .header_part .header_left ul li:nth-child(2){
    display: none;
  }

  .header_part .header_left ul li:last-child{
    display: none;
  }

  .header_part .header_right ul li:first-child{
    display: none;
  }
  .header_part .header_right ul li:nth-child(2){
    display: none;
  }

  .container01_left {
    height: 200px;
  }

}

/* BANNER 01 */
.inline{
  float: left;
}

.clearBoth{clear: both;}

.banner01{
  background-color: black;
  height: 100px;
}

.banner01_row{
  width: 100%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.banner01_text_left {
  width: 60%;
  height: 40px;
  padding-top: 10px;
}

.banner01_text{
  float: right;
  color: white;
}

.banner01_shopNow_right{
  width: 30%;
  float: left;
  margin-left: 10px;
}

.banner01_shopNow{
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 5px;
}


/* CONTAINER2 - COMPANY INFO_CONTAINER*/
.container02_title{
  height: 80px;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

.container02_subtitle{
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 10px;
}

.container02_section{
  height: 300px;
  background-color: #F1F1F1;
}

.container02 .col-lg-4{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icons {
  width: 20%;
  border: 4px solid #FFC046;
  border-radius: 50%;
  padding: 10px;
}

.container02_icon{
  padding-top: 30px;
}

.container02_text {
  padding-top: 50px;
  padding-left: 10px;
}


/* CONTAINER 3 - BIKE TYPES */
.container03{
  padding-top: 100px;
}

.container03_title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* CHOOSE BIKE MANUAL TEXT SLIDESHOW */
.chooseBikeRow{
  text-align: center;
  position: relative;
  height: 400px;
  transition-duration: 0.2s;
}

.manualTextSlide{
  display: block;
  user-select: none;
}

@keyframes slideAnimation{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.prev, .next{
  position: absolute;
  top: 0%;
  font-size: 1.5em;
  color: black;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  margin-top: 100px;
  user-select: none;
}

.prev{
  left: 1px;
}

.next{
  right: 1px;
}

.chooseBikeRow img{
  margin-top: 50px;
  width: 30%;
  user-select: none;
}

/* BIKE IMAGE AND DESCRIPTION */
.container03_bike_img{
  height: 400px;
}

.container_03_bikeT{
  width: 100%;
  height: 400px;
}

.container03_bikeName{
  font-size: 25px;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 15px;
}


.container03_bike_img{
  text-align: center;
}

.container03_bike_img img{
  width: 90%;
  padding-top: 20px;
  height: 400px;
}

.container03_bike_text{
  width: 90%;
  height: 400px;
  margin-top: 5px;
  padding: 15px;
}

/* BANNER 02 */
.banner02{
  background-color: #F1F1F1;
  height: 80px;
  padding-top: 20px;
  width: 100%;
  margin-top: 50px;
}

.banner02_content{
  width: 100%;
  height: 50px;
  overflow: auto;
  text-align: center;
}
.banner02_text{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: black;
  margin-top: 5px;
  font-size: 25px;
}

/* Container 04 - Sales */
.container04_sales{
  background-color: #F1F1F1;
  padding-bottom: 50px;
  position: relative;
}

.container04_sales img{
  width: 100%;
  height: 350px;
  background-color: #F1F1F1;
}

/* Sales Info Container */
.sales_info_container{
  width: 100%;
  height: 350px;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;
}

.sales_info_text{
  height: 200px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 65px;
  font-size: 25px;
  padding-top: 30px;
  line-height: 1;
}

.sales_info_text2{
  text-decoration: underline;
  padding-top: 20px;
}

@media only screen and (max-width: 990px){
  .sales_info_text{
    margin-top: 250px;
    width: 95%;
    border-left: 1px solid #F2CEAF;
    border-right: 1px solid #F2CEAF;
  }
}

/*Container 05 TITLE */
.container05_title{
  height: 500px;
  width: 100%;
  border: 1px solid green;
}

.container05_content{
  width: 100%;
  overflow: auto;
  text-align: center;
}

.container05_text{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: black;
  margin-top: 30px;
  font-size: 25px;
}

/* Container 05 (CLIENTS)*/

.container05_clientContainer{
  padding-top: 150px;
  padding-bottom: 150px;
}

.container05_img_crop{
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: right;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container05_img_crop img{
  width: 200%;
  margin: -20px 20px 30px -70px;
}

.container05_clientQuote{
  height: 150px;
  text-align: left;
  margin-left: 40px;
}

@media only screen and (max-width: 990px){
  .container05_img_crop{
    margin-top: -100px;
    float: none;
  }
  .container05_clientQuote{
    margin-top: 50px;
    height: 150px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }
}
/* BANNER 03 */
.banner03{
  background-color: black;
  height: 80px;
  padding-top: 20px;
  width: 100%;
}

.banner03_content{
  width: 100%;
  overflow: auto;
  text-align: center;
}
.banner03_text{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: white;
  margin-top: 5px;
  font-size: 25px;
}
.banner03_shopNow{
  float: left;
  border: solid white;
  margin-left: 20px;
  color: white;
  padding: 5px;
}

/* SHOP ITEMS */
.shopCollections{
  width: 80%;
  padding-bottom: 50px;
}

.shopCollectionsTitle{
  margin-left: 50px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 35px;
}

.shopCollections .item{
  margin-top: 20px;
  margin-left: 50px;
  border: 1px solid black;
  width: 84%;
  height: 350px;
}

@media only screen and (max-width: 990px){
  .shopCollections .item{
    margin-top: 50px;
    border: 1px solid black;
    width: 100%;
    height: 300px;
  }
}
